*{
    padding:10px;
}

h1{
    margin-top: 10%;
    font-size: 30px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
}
p{
    font-size: 30px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-style: oblique;
}
img{
    margin:0 auto;
    display:block;
}

